/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.App nav {
  background-color: #007BFF;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.App nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.App nav ul li {
  margin: 0 15px;
}

.App nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App nav ul li a:hover {
  color: #4a4b49;
}

.App nav ul li .active {
  border-bottom: 2px solid #FFD700;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .App nav ul {
      flex-direction: column;
      align-items: center;
  }

  .App nav ul li {
      margin: 10px 0;
  }
}
